.product {
  padding: 24px;
  font-size: 24px;
}

.product_Row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product_ColImg,
.product_Col {
  flex: 1;
}

.product_ColImg {
  max-width: 50px;
  margin-right: 25px;
}